Hive/HivePresenter/Service References/ServiceClient/hive.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ligasgr.net/services/hive" elementFormDefault="qualified" targetNamespace="http://ligasgr.net/services/hive" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Hive.Domain" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hive.Domain" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hive.Domain" minOccurs="0" name="AuthenticateResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hive.Domain" minOccurs="0" name="Results" nillable="true" type="q3:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WsFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FilterSpecification" nillable="true" type="q4:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPatientById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPatientByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hive.Domain" minOccurs="0" name="FindPatientByIdResult" nillable="true" type="q5:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>