Hive/HivePresenter/Service References/ServiceClient/Hive.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hive.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hive.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatient" nillable="true" type="tns:ArrayOfPatient" />
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="Advices" nillable="true" type="tns:ArrayOfAdvice" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactInfo" nillable="true" type="tns:ContactInfo" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IdDocument" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pesel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlatNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfAdvice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Advice" nillable="true" type="tns:Advice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvice" nillable="true" type="tns:ArrayOfAdvice" />
  <xs:complexType name="Advice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Symptoms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Advice" nillable="true" type="tns:Advice" />
  <xs:complexType name="ContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactInfo" nillable="true" type="tns:ContactInfo" />
</xs:schema>