Hive/HivePresenter/Service References/ServiceClient/hive.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ligasgr.net/services/hive" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HiveCoreBasedService" targetNamespace="http://ligasgr.net/services/hive" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_HiveService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://ligasgr.net/services/hive/Imports">
      <xsd:import namespace="http://ligasgr.net/services/hive" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Hive.Domain" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HiveService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="HiveService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="HiveService_FindAllPatiens_InputMessage" />
  <wsdl:message name="FindPatientsResponse">
    <wsdl:part name="parameters" element="tns:FindPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="WsFilter">
    <wsdl:part name="parameters" element="tns:WsFilter" />
  </wsdl:message>
  <wsdl:portType name="HiveService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://ligasgr.net/services/hive/HiveService/Authenticate" message="tns:HiveService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://ligasgr.net/services/hive/HiveService/AuthenticateResponse" message="tns:HiveService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllPatiens">
      <wsdl:input wsaw:Action="http://ligasgr.net/services/hive/HiveService/FindAllPatiens" message="tns:HiveService_FindAllPatiens_InputMessage" />
      <wsdl:output wsaw:Action="http://ligasgr.net/services/hive/HiveService/FindAllPatiensResponse" name="FindPatientsResponse" message="tns:FindPatientsResponse" />
    </wsdl:operation>
    <wsdl:operation name="FindPatients">
      <wsdl:input wsaw:Action="http://ligasgr.net/services/hive/HiveService/FindPatients" name="WsFilter" message="tns:WsFilter" />
      <wsdl:output wsaw:Action="http://ligasgr.net/services/hive/HiveService/FindPatientsResponse" name="FindPatientsResponse" message="tns:FindPatientsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_HiveService" type="tns:HiveService">
    <wsp:PolicyReference URI="#WSHttpBinding_HiveService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://ligasgr.net/services/hive/HiveService/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllPatiens">
      <soap12:operation soapAction="http://ligasgr.net/services/hive/HiveService/FindAllPatiens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindPatientsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPatients">
      <soap12:operation soapAction="http://ligasgr.net/services/hive/HiveService/FindPatients" style="document" />
      <wsdl:input name="WsFilter">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindPatientsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HiveCoreBasedService">
    <wsdl:port name="WSHttpBinding_HiveService" binding="tns:WSHttpBinding_HiveService">
      <soap12:address location="http://localhost:8732/HiveServiceLibrary/HiveService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8732/HiveServiceLibrary/HiveService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>